<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <title>OCR API</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col jumbotron">
            <legend>OCR API</legend>
            <form action="/process" enctype="multipart/form-data" id="form" method="post">
                <div class="form-group">
                    <label for="image">Image à traiter</label>
                    <input accept="image/*"
                           class="form-control-file"
                           id="image"
                           name="image"
                           type="file">
                </div>
                <button class="btn btn-primary" id="submit" type="submit">Envoyer pour OCR</button>
            </form>
        </div>
    </div>
</div>

<script>
    document.querySelector("#submit").addEventListener("click", (e) => {
        e.preventDefault()
        const formData = new FormData(document.querySelector("#form"))
        if (formData.get('image').name === "") return
        fetch("/process", {
            method: 'POST',
            body: formData
        })
            .then(r => r.json())
            .then(r => console.log(r))
            .catch(error => console.error(error))
    })

</script>
</body>
</html>
